/* some C shit */
.CContainer {
  display: flex;
  justify-content: center;
}
.CRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  border: 2px solid #7f7eff;
  margin-bottom: 10px;
  border-radius: 20px 7px 20px 7px;
  // border-top-right-radius: 20px;
  // border-bottom-left-radius: 20px;
  padding: 3%;
  width: 900px;
}
.C {
  display: flex;
  align-items: center;
  padding-right: 24px;
  max-width: 300px;
  h1 {
    font-size: 16px;
    width: 150px;
  }
  img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
}
.CSymbol {
  text-transform: uppercase;
}
.CData {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}
.CPrice {
  margin-left: 10px;
  margin-top: 10px;
  width: 110px;
}
.CVolume {
  margin-top: 10px;

  width: 230px;
}
.CMarketcap {
  width: 155px;
}
.CPercent {
  margin-top: 10px;
  font-weight: bolder;
  width: 100%;
}
.red {
  color: rgb(211, 22, 22);
}
.green {
  color: rgb(53, 199, 53);
}
.CApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: black;
}
.CSearch {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.CText {
  margin-bottom: 32px;
  text-align: right;
}
.CInput {
  padding-left: 16px;
  width: 1000px;
  height: 50px;
  border-radius: 7px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #7f7eff 0%,
    #a390e4 21%,
    #a390e4 59%,
    #cc8b8c 79%,
    #c68866 100%
  );
  color: white;
  font-weight: bolder;
  font-size: larger;
  &::placeholder {
    color: white;
  }
}
